{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit Encyclopedia Entry for "{{Title}}"</h1>

    <ul>
      <form action="{% url 'edit' Title %}" method="post">
          {% csrf_token %}
          <table>
            <tr>
          {{ editable }}
            </tr>


            <tr>
              <td></td>

              <td><input type="submit" value = "Save"></td>

            </tr>

          </table>


      </form>

    </ul>

{% endblock %}
